в данном ноутбуке мы разбиваем обучающую выборку на много частей чтобы потом было проще загружать

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import datetime
import sklearn
import sqlalchemy as sa
from tqdm import tqdm, tqdm_notebook
import pickle
import matplotlib.pyplot as plt
import itertools
import os

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', -1)

In [3]:
%matplotlib inline

In [4]:
# создание коннекта к БД и крурсора для запросов
conn = sqlite3.connect('../data/input/hse_sqlite')
c = conn.cursor()

# создание engine для чтения данных в DataFrame
engine = sa.create_engine('sqlite:///../data/input/hse_sqlite.db')

In [5]:
# Пример форомирования DataFrame из БД с заполнением типа полей

def transform_cols (df, dict_col_types = None):
    # Расширяйте для необходимых столбцов и их явной типизации
    if dict_col_types is None:
        dict_col_types = {
        'amount_original':(float, 0.0),
        'cdf_s_126':(str, u'null'),
        'cdf_s_138':(str, u'null'),
        'channel_indicator':(str, u'null'),
        'event_description':(str, u'null'),
        'cdf_s_294':(int, 0),
        'cdf_s_140':(float, 0.0),
        'data_i_120':(int, 0),
        'cdf_s_218':(str, u'null'),
        'data_s_65':(int, 0),
        'cdf_s_127':(int, 30),
        'cdf_s_135':(int, 30),
        'cdf_s_130':(int, 30),
        'cdf_s_129':(int, 30),
        'cdf_s_134':(int, 30),
        'data_i_154':(float, np.nan),
        'cdf_s_133':(int, 30),
        'cdf_s_20':(str, u'null'),
        'cdf_s_299':(str, u'null'),
        }
                
    if df.shape[0] > 0:
        df.replace(u'null', np.nan, inplace=True)

        for i in dict_col_types:
            if i in df.columns:
                df[i] = df[i].fillna(dict_col_types[i][1]).astype(dict_col_types[i][0])
    
    return df
    

def df_from_sql (sql, parse_dates = ['event_time','cdf_s_19', 'cdf_s_123','cdf_s_124'], dict_col_types = None, chunk_size = None, engine=engine):
    """
    Функция вощвращающая df в результате переданного sql-запроса
    Также поддерживается приведение столбцов к заданным типам 
    и чтение по блокам
    """
     
    if chunk_size is not None:
        df_iter =  [transform_cols(chunk, dict_col_types) for chunk in pd.read_sql_query(sql, engine, parse_dates = parse_dates, chunksize=chunk_size)]
    else:
        df_iter = transform_cols(pd.read_sql_query(sql, engine, parse_dates = parse_dates), dict_col_types)
        #df_iter = pd.read_sql_query(sql, engine, con=conn,  parse_dates = parse_dates)
    
    return df_iter

-----

In [6]:
all_users = df_from_sql('select DISTINCT user_id from rsa_event_log;',
                        engine=conn,
                        parse_dates=None)

In [7]:
rng = np.random.RandomState(seed = 1)

In [8]:
all_users_list = sorted(all_users['user_id'].astype(str).tolist())

In [9]:
rng.shuffle(all_users_list)

In [10]:
all_users_list[:5]

['MBK7709372', '52141422', '36057180', '20035740', '42404186']

In [11]:
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [12]:
len(all_users_list)

194704

In [13]:
user_ids_chunks = list(chunks(all_users_list, len(all_users_list) // 50))

In [14]:
with open('../data/raw_splits/train/user_ids_chunks.pkl', 'wb') as f:
    pickle.dump(user_ids_chunks, f)

In [ ]:
folder = '../data/raw_splits/train/'

In [ ]:
for n, chunk in tqdm_notebook(list(enumerate(user_ids_chunks))):
    sql_query_str = "select * from rsa_event_log where user_id in ({0});".format(str(chunk)[1:-1])
    data = pd.read_sql_query(sql_query_str, con=conn, 
                             parse_dates = ['event_time','cdf_s_19', 'cdf_s_123','cdf_s_124'])
    fname = os.path.join(folder, f'chunk_{n}.fth')
    data.to_feather(fname)