In [8]:
file_names = !ls ../data/raw_splits/train/

In [14]:
chunk_names = []
for i in file_names:
    if "chunk_" in i:
        chunk_names.append(i)
chunk_names = sorted(chunk_names)

In [16]:
import pandas as pd

In [17]:
data = pd.read_feather('../data/raw_splits/train/{}'.format(chunk_names[0]))

In [ ]:
def load_data(query, )

In [19]:
trans_data = df_from_sql("select * from rsa_event_log where user_id in ({0})".format(str(users_sample)[1:-1]), engine=conn)

,cdf_s_123,cdf_s_124,cdf_s_127,cdf_s_135,cdf_s_130,cdf_s_129,cdf_s_134,cdf_s_128,cdf_s_138,cdf_s_126,...,user_acct_number_hashed,user_agent_string_hash,browser_plugins_hash,screen_hash,user_id,ip_address,ip_country,ip_region,ip_city,ip_isp
0,NaT,NaT,null,null,null,null,null,null,НЕТ,ДА,...,4bc31cd95fbac78ee5e4ca131c4cdca9e2b7688e,null,null,null,100197,31.173.86.8,ru,48,Moscow,7255560
1,NaT,NaT,null,null,null,null,4,null,null,null,...,null,null,null,null,100197,31.173.82.117,ru,48,Moscow,7255560
2,NaT,NaT,null,null,null,null,6,null,НЕТ,ДА,...,ba8d3b00c24ad4923f70e1a66f726586823b7899,null,null,null,100197,31.173.85.200,ru,48,Moscow,7255560
3,NaT,NaT,null,null,null,null,null,null,null,null,...,null,null,null,null,100197,31.173.82.110,ru,48,Moscow,7255560
4,NaT,NaT,null,null,null,null,6,null,НЕТ,ДА,...,4bc31cd95fbac78ee5e4ca131c4cdca9e2b7688e,null,null,null,100197,31.173.81.68,ru,48,Moscow,7255560