In [35]:
import pandas as pd
import os

In [3]:
folder = '../../data/combined_dataset'
!mkdir -p $folder

In [4]:
!ls '../../data/prepaired_dataset'

test_v2.fth  test_v3.fth  train_v2.fth	train_v3.fth

In [30]:
train_normal_filename = '../../data/prepaired_dataset/train_v3.fth'
test_normal_filename = '../../data/prepaired_dataset/test_v3.fth'

In [31]:
train_normal = pd.read_feather(train_normal_filename)

In [33]:
train_normal['event_id'].nunique()

3820319

In [34]:
train_normal.shape

(3820319, 68)

In [7]:
!ls '../../data/coms_sep/quantiles_data'

for_quantiles.csv		  qnts_test_30_WEBAPI.csv
for_quantiles_test.csv		  qnts_train_30_amount.csv
qnts_test_30_amount.csv		  qnts_train_30_amount_original.csv
qnts_test_30_amount_original.csv  qnts_train_30_ATMAPI.csv
qnts_test_30_ATMAPI.csv		  qnts_train_30_MBK.csv
qnts_test_30_MBK.csv		  qnts_train_30_MOBILEAPI.csv
qnts_test_30_MOBILEAPI.csv	  qnts_train_30_UFS.csv
qnts_test_30_UFS.csv		  qnts_train_30_WEBAPI.csv

In [53]:
quantiles_folder = '../../data/coms_sep/quantiles_data'
quantiles_train_files = [os.path.join(quantiles_folder, x) for x in os.listdir(quantiles_folder) 
                         if (x.count('qnts_train')) and (not x.count('amount.csv'))]
quantiles_test_files = [os.path.join(quantiles_folder, x) for x in os.listdir(quantiles_folder)
                        if (x.count('qnts_test')) and (not x.count('amount.csv'))]

In [54]:
quantiles_train_list = [pd.read_csv(x, low_memory = False, index_col = 0) for x in quantiles_train_files]

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [55]:
quantiles_test_list = [pd.read_csv(x, low_memory = False, index_col = 0) for x in quantiles_test_files]

In [51]:
quantiles_test_files

['../../data/coms_sep/quantiles_data/qnts_test_30_amount_original.csv',
 '../../data/coms_sep/quantiles_data/qnts_test_30_ATMAPI.csv',
 '../../data/coms_sep/quantiles_data/qnts_test_30_WEBAPI.csv',
 '../../data/coms_sep/quantiles_data/qnts_test_30_amount.csv',
 '../../data/coms_sep/quantiles_data/qnts_test_30_MBK.csv',
 '../../data/coms_sep/quantiles_data/qnts_test_30_UFS.csv',
 '../../data/coms_sep/quantiles_data/qnts_test_30_MOBILEAPI.csv']

In [57]:
[x.shape for x in quantiles_test_list]

[(600334, 12),
 (172179, 12),
 (242473, 12),
 (203756, 12),
 (5117, 12),
 (494970, 12)]

In [44]:
quantiles_train_files

['../../data/coms_sep/quantiles_data/qnts_train_30_ATMAPI.csv',
 '../../data/coms_sep/quantiles_data/qnts_train_30_amount_original.csv',
 '../../data/coms_sep/quantiles_data/qnts_train_30_MBK.csv',
 '../../data/coms_sep/quantiles_data/qnts_train_30_MOBILEAPI.csv',
 '../../data/coms_sep/quantiles_data/qnts_train_30_amount.csv',
 '../../data/coms_sep/quantiles_data/qnts_train_30_UFS.csv',
 '../../data/coms_sep/quantiles_data/qnts_train_30_WEBAPI.csv']

In [49]:
uniq_ids_dates = lambda q_list: pd.concat([x[['user_id', 'short_date']] for x in q_list]).drop_duplicates().sort_values(['user_id', 'short_date'])

In [50]:
train_ids_dates = uniq_ids_dates(quantiles_train_list)
test_ids_dates = uniq_ids_dates(quantiles_test_list)

In [43]:
[x.shape for x in quantiles_train_list]

[(4513977, 12),
 (7550673, 12),
 (3774888, 12),
 (5533125, 12),
 (1742598, 12),
 (56199, 12),
 (3877029, 12)]

In [14]:
d1 = pd.read_csv('../../data/coms_sep/quantiles_data/qnts_train_30_amount_original.csv', low_memory = False, index_col = 0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [15]:
d2 = pd.read_csv('../../data/coms_sep/quantiles_data/qnts_train_30_amount.csv', low_memory = False, index_col = 0)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [17]:
d1.head(5)

,user_id,short_date,amount_original_30_days_quantile_0.1,amount_original_30_days_quantile_0.2,amount_original_30_days_quantile_0.3,amount_original_30_days_quantile_0.4,amount_original_30_days_quantile_0.5,amount_original_30_days_quantile_0.6,amount_original_30_days_quantile_0.7,amount_original_30_days_quantile_0.8,amount_original_30_days_quantile_0.9,amount_original_30_days_quantile_1.0
0,100197,20171028,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100197,20171029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100197,20171030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100197,20171031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100197,20171101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
d2.head(5)

,user_id,short_date,amount_30_days_quantile_0.1,amount_30_days_quantile_0.2,amount_30_days_quantile_0.3,amount_30_days_quantile_0.4,amount_30_days_quantile_0.5,amount_30_days_quantile_0.6,amount_30_days_quantile_0.7,amount_30_days_quantile_0.8,amount_30_days_quantile_0.9,amount_30_days_quantile_1.0
0,66,20171127,319.3,632.2,1000.0,1208.6,1643.0,2345.4,4739.6,5000.0,10000.0,200000.0
1,66,20171128,328.6,693.4,1000.0,1254.2,1780.0,2656.8,5000.0,7592.6,26480.0,200000.0
2,66,20171129,375.1,926.2,1000.0,1254.2,1860.5,2656.8,5000.0,6000.0,22430.0,200000.0
3,66,20171130,310.0,877.0,1000.0,1000.0,1506.0,2007.0,4132.0,6000.0,20000.0,200000.0
4,66,20171201,319.3,632.2,1000.0,1000.0,1457.5,1981.8,4092.4,5000.0,18932.1,200000.0

In [19]:
!ls '../../data/coms_sep/'

quantiles_data	test_no_cnts.csv  train.csv	     train_woe.csv
test.csv	test_woe.csv	  train_no_cnts.csv

In [22]:
w = pd.read_csv('../../data/coms_sep/train_woe.csv', index_col = 0, low_memory = False)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [24]:
w.columns

Index(['event_description', 'user_id', 'label', 'event_time', 'data_i_154',
       'ip_isp', 'amnt2chnls', 'short_date', 'cat_new_ip', 'cat_new_prov',
       'op_type', 'relative', 'cdf_s_127', 'cdf_s_135', 'cdf_s_130',
       'cdf_s_129', 'cdf_s_134', 'cdf_s_133', 'know_recip_card_age',
       'one_region', 'amount', 'client_age', 'age_diff',
       'cumulative_sum_total', 'cumulative_sum_total.1', 'data_i_120',
       'know_recip_power', 'data_i_120.1', 'recip_card_age', 'krp_pow2',
       'log_amount'],
      dtype='object')

In [29]:
d1[['user_id', 'short_date']].drop_duplicates().shape

(7546812, 2)

In [27]:
d1.shape

(7550673, 12)

In [26]:
w.shape

(3816655, 31)

In [ ]:
w.drop(['event_description', 'label', ], axis = 1)

In [25]:
w.head(5)

,event_description,user_id,label,event_time,data_i_154,ip_isp,amnt2chnls,short_date,cat_new_ip,cat_new_prov,...,client_age,age_diff,cumulative_sum_total,cumulative_sum_total.1,data_i_120,know_recip_power,data_i_120.1,recip_card_age,krp_pow2,log_amount
0,Перевод между своими счетами и картами,100197,NaN,2017-11-10 15:22:46,196.0,7255229,3774.000000,2017-11-10,-5.334714,-6.439216,...,-5.947735,-5.727923,-6.633544,-6.633544,-6.273876,-7.565464,-6.273876,-5.587413,-7.565464,-5.161287
1,Перевод частному лицу,100197,NaN,2017-11-28 17:34:53,181.0,7255560,9.998000,2017-11-28,-5.334714,-6.439216,...,-5.947735,-6.480887,-5.103841,-5.103841,-6.273876,-8.008094,-6.273876,-6.189584,-8.008094,-5.054978
2,Оплата услуг,100197,NaN,2017-11-04 15:37:57,190.0,7255560,9.900990,2017-11-04,-5.334714,-6.439216,...,-5.947735,-5.727923,-5.527454,-5.527454,-6.273876,-7.565464,-6.273876,-5.587413,-7.565464,-5.772775
3,Перевод между своими счетами и картами,100197,NaN,2017-11-24 10:25:52,177.0,7255560,3000.000000,2017-11-24,-5.334714,-6.439216,...,-5.947735,-5.727923,-6.633544,-6.633544,-6.273876,-7.084345,-6.273876,-5.587413,-7.084345,-5.161287
4,Перевод частному лицу,100197,NaN,2017-11-21 21:54:00,174.0,6468578,9.983361,2017-11-21,-6.850543,-6.439216,...,-5.947735,-6.480887,-5.103841,-5.103841,-6.273876,-8.008094,-6.273876,-6.189584,-8.008094,-5.305270

In [ ]:
train = '../../data/prepaired_dataset/train_v3.fth'
test_normal_filename = '../../data/prepaired_dataset/test_v3.fth'